{% extends "main.html" %} {% block tabs %} {{ super() }}

<link rel="stylesheet" href="../stylesheets/blank-template.css" />
<link rel="stylesheet" href="../stylesheets/home.css" />

<section class="hero">
  <div class="md-grid">
    <div class="hero-teaser md-typeset">
      <h1>Hero teaser</h1>

      <p>Example paragraph</p>

      <a class="md-button md-button--primary"> Get started </a>

      <a class="md-button"> Learn more </a>
    </div>
  </div>
</section>

<section class="feature">
  <div class="feature-contents md-grid">
    <div class="feature-item md-typeset">
      <h2>Feature item 1</h2>

      <p>Example paragraph</p>
    </div>

    <div class="feature-item md-typeset">
      <h2>Feature item 2</h2>

      <p>Example paragraph</p>
    </div>

    <div class="feature-item md-typeset">
      <h2>Feature item 3</h2>

      <p>Example paragraph</p>
    </div>
  </div>
</section>
{% endblock %}

<!-- create blank canvas -->
{% block content %} {% endblock %}
