/* container style */
.container {
  flex: 1;

  background-color: var(--md-default-bg-color);

  display: flex;
}

/* overlay style */
#overlay {
  flex: 1;

  opacity: 1;
  transition: opacity 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* play button style */
#play-button {
  font-size: 200%;
  color: var(--md-default-fg-color);
}

/* board style */
#board {
  width: 90%;
  max-width: 500px;
  margin: auto;

  opacity: 0;
  transition: opacity 1s;

  display: none;
  flex-direction: column;
}

/* row style */
.row {
  display: flex;
}

/* cell style */
.cell {
  aspect-ratio: 1;
  flex: 1;

  border: 1vh solid var(--md-default-fg-color);
  border-right: none;
  border-bottom: none;
  font-size: 8vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:first-child {
  border-left: none;
}

.cell:last-child {
  border-right: none;
}

.row:first-child .cell {
  border-top: none;
}

.row:last-child .cell {
  border-bottom: none;
}

.cell button {
  width: 100%;
  height: 100%;

  color: var(--md-default-fg-color);
}
